.lockscreen {
  position: fixed;
  inset: 0;
  background-color: rgb(41, 6, 84);
  color: lavender;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 999;
  font-family: 'Jersey 20', sans-serif;
  transition: transform 0.7s ease-in-out;
}

.lockscreen.swipe-up {
  transform: translateY(-100%);
}

.lock-time {
  font-size: 5rem;
  margin-bottom: 2rem;
}

.swipe-up-text {
  font-size: 1.5rem;
  opacity: 0.8;
}
